.terraform/

*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

.terraform.lock.hcl

*.zip
terraform/lambda_zips/

__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db
.vscode/
.idea/

.env
secret.tfvars